#include<stdio.h>
#include<ctype.h>
void main()
{
int a,b;
int i;
printf("\n \a %d",sizeof(i));
printf("\n \a %d",sizeof(int));
a=10;
b=10;
for (i=0;i<=10;i++,a++)
printf("\n \a %d ", a);
for (i=0;i<=10;++i,++b)
printf("\n \a %d",b);

}
